/* RESET */

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

img {
	max-width: 100%;
}

a {
	text-decoration: none;
	color: currentColor;
}

button {
	border: none;
	background-color: transparent;
}

menu,
ul,
ol {
	list-style: none;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

/* Layout */

.container-lg {
    width: 100vw;
}

.container {
    max-width: 1200px;
    margin: 0 auto;
}

.container-sm {
    max-width: 1000px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-wrap: wrap;
}

.col-4 {
    width: calc(4 * 100% / 12);
}

.col-6 {
    width: calc(6 * 100% / 12);
}

.col-8 {
    width: calc(8 * 100% / 12);
}

.col-20 {
    width: calc(100% / 5);
}

/* Style */

/* Header */

header .container-lg {
    padding: 20px;
}

header .row {
    justify-content: space-between;
}

nav ul {
    display: flex;
    gap: 40px;
    font-size: 16px;
    align-items: center;
}

button {
    background-color: #0061FF;
    padding: 10px 16px;
    color: white;
}


/* Main */

/* HERO */

.hero {
    background-color: #B4D0E7;
    padding-top: 100px;
    margin-bottom: 150px;
}

.hero-title {
    font-size: 78px;
    font-weight: 800;
    margin-bottom: 70px;
}

.hero .col-4 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hero-txt-top {
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.hero button {
    align-self: flex-start;
    font-size: 16px;
}

.hero-txt-bottom {
    font-size: 50px;
    margin-bottom: 22px;
}

/* PLANS  
TODO Ripeto un sacco di codice, si può migliorare */

.plans-title {
    font-size: 40px;
    margin-bottom: 70px;
}

.plans label {
    margin-right: 40px;
}

.plans-cards {
    display: flex;
    justify-content: space-between;
}

.plans-cards .col-4 {
    padding: 25px;
}

.card {
    border: 1px solid #00000033;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-bottom: 50px;
    font-size: 14px;
}

.card-head {
    border-bottom: 1px solid #00000033;
    text-align: center;
    padding: 10px 0;
}

.card-title {
    margin: 40px 30px;
    display: flex;
    flex-direction: column;
    gap: 20px 0px;
}

.card-title h3 {
    font-size: 24px;
}

.plan-price {
    font-weight: 700;
}

.plan-renewal {
    color: #00000099;
}

.card-info ul{
    margin: 0px 30px 50px;
    display: flex;
    flex-direction: column;
    gap: 25px 0px;
}

.card-buy {
    display: flex;
    flex-direction: column;
    margin: 0px 30px 0px;
    gap: 35px 0px;
    padding-bottom: 40px;
}

.card-buy::after {
    content: '';
    width: 50px;
    height: 1px;
    background-color: #00000099;
    display: block;
}

.card-buy a {
    color: #0000EE;
    text-decoration: underline;
}

.card-highlights {
    margin: 0px 30px;
    padding-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 25px 0px;
}

.card-highlights i {
    color: #0000EE;
}

.icon-flex {
    display: flex;
    gap: 0px 5px;
    align-items: baseline;
}

.card-enterprise {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.card-enterprise button{
    margin-right: 30px;
}

.card-enterprise-p {
    margin: 0px 30px 50px;
}

/* PARTNER */

.partner .col-4 {
    padding: 50px;
    display: flex;
    flex-direction: column;
    gap: 30px 0px;
}

.partner-text {
    font-size: 14px;
}

.partner-button button{
    color: black;
    font-size: 16px;
    background-color: transparent;
    border: 1px solid black;
}

.partner {
    margin-bottom: 150px;
}

/* BUSINESS */

.business-title h2{
    font-size: 38px;
    margin-bottom: 80px;
}

.business-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 80px 0px;
    font-size: 14px;
}

.business-card h4 {
    font-size: 22px;
    margin-bottom: 35px;
}

.business-card {
    padding: 0px 25px
}

.business {
    margin-bottom: 200px;
}

/* REFERENCES  */

.references {
    margin-bottom: 150px;
}

.references .row {
    flex-direction: column;
}

.references h2 {
    font-size: 38px;
    margin-bottom: 70px;
}

.references a {
    color: #0000EE;
    text-decoration: underline;
}


/* BLOKS */

.blocks .col-4 {
    display: flex;
    flex-wrap: wrap;
}

.blocks img {
    display: block;
}

.blocks .col-6 {
    padding: 100px 80px;
    display: flex;
    aspect-ratio: 1/1;
    width: 50%;
}

.designit-green {
    border: 10px solid #D1E9CD;
}

.block-center {
    display: flex;
    padding: 50px;
}

.block-center img {
    padding-bottom: 50px;
    margin-bottom: 50px;
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, #00000033 30%, transparent 70%) 100% 1;
}

.block-center :last-child {
    margin-top: 50px;
}

/* FREE TRIAL  */

.free-trial {
    background-color: #B4D0E7;
    margin-bottom: 160px;
}

.free-trial .row {
    justify-content: space-between;
    padding: 130px 0px;
}

.free-trial h2 {
    font-size: 38px;
}

.free-trial button {
    align-self: flex-start;
    background-color: white;
    color: black;
    font-size: 16px;
    padding: 10px 50px;
}

/* FAQ */

.faq {
    margin-bottom: 150px;
}

.faq .row {
    flex-direction: column;
}

.faq h2 {
    font-size: 38px;
    margin-bottom: 70px;
}

.question {
    font-weight: 700;
    display: flex;
    justify-content: space-between;
    padding: 50px 0px;
    border-top: 1px solid black;
}


/* Footer */

footer {
    color: white;
    background-color: black;
    padding-top: 100px;
    padding-bottom: 50px;
}

footer .row {
    flex-direction: column;
}

.footer-links {
    display: flex;
}

footer .col-20 h3 {
    margin-bottom: 40px;
}

footer .col-20 {
    padding-bottom: 110px;
    margin-bottom: 50px;
}

.half-border {
    border-bottom: 1px solid;
    border-image: linear-gradient(to right, #FFFFFF33 30%, transparent 70%) 100% 1;
}

/* HOVERS / TRANSITIONS */

.blue-button {
    transition: all 0.2s ease-in;
}

.blue-button:hover {
    background-color: #0044b1;
}


/* Animations */


.bounce {
    animation-name: bounce;
    animation-duration: 1s;
    animation-iteration-count: infinite;
    animation-timing-function: ease-out;
}

@keyframes bounce {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-50px);
    }
    100% {
        transform: translateY(0px);
    }
}


/* Utilities */

.flex {
    display: flex;
    flex-wrap: wrap;
}

.border-bottom {
    border-bottom: 1px solid black;
}

/* Backgrounds */

.bg-green {
    background-color: #A2D39B;
}

.bg-dark-red {
    background-color: #61082B;
}

.bg-blue {
    background-color: #0093CE;
}

.bg-orange {
    background-color: #FF1C1C;
}

.bg-red {
    background-color: #D5001F;
}

.bg-lightblue {
    background-color: #B4D0E7;
}

.bg-dark-blue {
    background-color: #0D2481;
}

.bg-yellow {
    background-color: #FFD830;
}

.white-filter {
    filter: invert(100%) sepia(98%) saturate(0%) hue-rotate(331deg) brightness(101%) contrast(101%);
}

